body,
html {
    padding: 0;
    margin: 0;
    font-family: '微软雅黑';
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

a {
    color: inherit;
    text-decoration: none
}

ul,
li,
p,
h3,
h4,
h5,
h6,
dl,
dd {
    margin: 0;
    padding: 0
}

ul,
li {
    list-style: none
}

a:hover {
    color: #14a0ef;
    text-decoration: none
}

em,
i {
    font-style: normal;
}

*:focus {
    outline: none;
}

input {
    outline: none;
}

html,
body {
    width: 100%;
    height: 100%;
}


/*超过2行隐藏，并用...代替*/

.overstyle {
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}


/*超过1行隐藏，并用...代替*/

.over-one {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/*清除浮动*/

.clearfix {
    /* 触发 hasLayout */
    zoom: 1;
}

.clearfix:after {
    content: "020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


/*model*/

#gcxmDiv th,
#gcxmDiv td {
    font-size: 14px;
}

#gcxmDiv .gcxm-search {
    padding: 10px 15px;
    font-size: 14px;
}

#gcxmDiv .search-items {
    padding-right: 15px;
    float: left;
}

#gcxmDiv .search-items input {
    border: 1px solid #ddd;
    line-height: 25px;
    padding: 2px 8px;
    border-radius: 4px;
}

#gcxmDiv .search-btn {
    padding: 5px 15px;
    background-color: #004397;
    color: #fff;
    border: 1px solid #004397;
    border-radius: 4px;
}

#ta1 {
    float: left;
    width: 42%;
    padding: 0 10px;
}

#ta2 {
    float: left;
    width: 58%;
    padding: 0 10px;
}


/*状态颜色*/

.normal_status {
    background-color: #b6eec7 !important;
}

.timeout_status {
    background-color: #faaeae !important;
}